{% extends 'base.html.twig' %}

{% block title %}Liste des médias{% endblock %}

{% block body %}
    {# Affcihage des flashdata #}
    {% include "./_parts/toasts.html.twig" %}

    <div class="page-content container">
        <h1>Liste des médias</h1>

        <table class="table-list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Media</th>
                    <th>Type</th>
                    <th>Alt</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for medium in media %}
                <tr>
                    <td>{{ medium.id }}</td>
                    <td><img class="thumbnail" src="../uploads/{{ medium.path }}" alt="{{ medium.alt }}"/></td>
                    <td>{{ medium.type }}</td>
                    <td>{{ medium.alt }}</td>
                    <td>
                        <a href="{{ path('app_media_show', {'id': medium.id}) }}" class="btn-gold">Voir</a>
                        <a href="{{ path('app_media_edit', {'id': medium.id}) }}" class="btn-gold">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun média trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_media_new') }}" class="btn-gold">Créer un nouveau média</a>

    </div>
{% endblock %}
