{% extends 'base.html.twig' %}

{% block title %}Media{% endblock %}

{% block body %}
    <style>
        .thumbnail {
            width: 300px;
            max-width: 100%;
            max-height: 100%;
            height: auto;
        }
    </style>

    <div class="page-content container">

        <h1>Media</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ medium.id }}</td>
                </tr>
                <tr>
                    <th>Prévisualisation</th>
                    <td><img class="thumbnail" src="../uploads/{{ medium.path }}" alt="{{ medium.alt }}"/></td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ medium.type }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ medium.path }}</td>
                </tr>
                <tr>
                    <th>Alt</th>
                    <td>{{ medium.alt }}</td>
                </tr>
            </tbody>
        </table>

        {{ include('media/_delete_form.html.twig') }}

        <a href="{{ path('app_media_index') }}">Retour à la liste</a>
        <a href="{{ path('app_media_edit', {'id': medium.id}) }}">Modifier</a>
    </div>
{% endblock %}
