{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
    <style>
        .cart-empty {
            text-align: center;
            margin-top: 100px;
        }

        .cart-empty .btn-black {
            display: inline-block;
            margin-top: 10px;
        }

        .basket-total {
            margin-top: 50px;
            text-align: right;
        }
        .remove-cart-items {
            display: block;
            width: fit-content;
            margin: 0 0 0 auto;
        }
        .basket-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
    </style>

    
    <div class="page-content container">
        <div class="basket-head">
            <h1>Mon panier</h1>
            {% if basket %}
                {% if basket.totalPrice %}
                    {{ include('cart/_empty_cart_form.html.twig') }}
                {% endif %}
            {% endif %}
        </div>

        {% if basket %}
            {% if basket.totalPrice %}
                {% for item in basketDetails %}
                    {% include('_parts/product-item-cart.html.twig') %}
                {% endfor %}
                <div class="basket-total">
                    <h2>Total : <span id="total-price">{{ basket.totalPrice }}</span> €</h2>

                    {{ include('cart/_validate_cart_form.html.twig') }}
                </div>
            {% else %}
                <div class="cart-empty">
                    <p>Votre panier ne contient actuellement aucun article</p>
                    <a href="{{ path('app_shop') }}" class="btn-black">Voir la boutique</a>
                </div>
            {% endif %}
        {% else %}
            <div class="cart-empty">
                <p>Votre panier ne contient actuellement aucun article</p>
                <a href="{{ path('app_shop') }}" class="btn-black">Voir la boutique</a>
            </div>
        {% endif %}
    </div>

    <script>
        $(document).ready(function() {
            // Détecter les changements de quantité
            $('.quantity-input').change(function() {
                // Récupération de la nouvelle quantité
                var newQuantity = $(this).val();

                // Récupération de l'identifiant et du prix de l'article
                var itemId = $(this).data('item-id');
                var itemPrice =  $(this).data('item-price')

                // Requête AJAX pour mettre à jour le prix du panier
                $.ajax({
                    url: '{{ path('update_cart') }}',
                    method: 'GET',
                    data: { 
                        quantity: newQuantity,
                        id: itemId,
                        price: itemPrice
                    },
                    success: function(response) {
                        // Mettre à jour l'affichage du prix total du panier
                        $('#total-price').text(response.new_price);
                        $('#item-quantity' + itemId).text(newQuantity);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
{% endblock %}
