{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <style>
        .page-login {
            min-height: calc( 100vh - 105px );
            display: flex;
            align-items: center;
            justify-content: center;
        }

        form {
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.16);
            width: 600px;
            max-width: 85%;
            margin: 0 auto;
        }

        .inputs-block {
            display: flex;
            flex-direction: column;
            max-width: 80%;
            margin: 0 auto;
        }

        .inputs-block > div {
            margin: 10px 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .inputs-block > div input {
            flex: 1 1 200px;
            padding: 5px;
            max-width: 100%;
        }

        .inputs-block > div label {
            margin-right: 15px;
        }

        button {
            margin-top: 30px;
            padding: 8px 12px;
            background-color: #000;
            color: #fff;
            border-radius: 5px;
            border: 2px solid #000;
            transition: all .3s;
            cursor: pointer;
        }

        button:hover {
            background-color: transparent;
            color: #000;
        }
    </style>

    <div class="page-content container page-login">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté avec le compte {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
            
            <div class="inputs-block">
                <div>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="exemple@domaine.com" required autofocus>
                </div>
                <div>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Votre mot de passe" required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary" type="submit">
                Se connecter
            </button>
        </form> 
    </div>
{% endblock %}
