{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .banner {
        height: 60vh;
        position: relative;
    }

    .banner::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
    }

    .banner h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 3rem;
        z-index: 1;
        width: 90%;
        text-align: center;
    }

    .banner img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .listing-products {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .listing-products h2 {
        width: 100%;
        margin-bottom: 20px;
    }

    .listing-products a {
        text-decoration: none;
        color: #fff;
        background-color: #000;
        padding: 20px;
        margin: 10px;
        flex: 1 1 300px;
        position: relative;
        transition: all 0.3s;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.16);
    }

    .listing-products a:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.21), 0 6px 6px rgba(0,0,0,0.25);
    }

    .listing-products a:hover figure img {
        tarnsform: scale(1.1);
    }

    .listing-products .content-product figure {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .listing-products .content-product .infos {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        width: 100%;
        background-color: #fff;
        color: #000;
    }

    .listing-products .content-product .category {
        background-color: #000;
        padding: 3px 5px;
        color: #fff;
        margin: 5px 0 10px 0;
        display: block;
        width: fit-content;
        border-radius: 5px;
    }

    .listing-products .content-product .price {
        font-weight: bold;
        text-align: right;
        margin-top: 5px;
        font-size: 1.2rem;
    }
</style>

{# Bannière #}
<div class="banner">
    <img src="https://www.4murs.com/fstrz/r/s/assets.4murs.com/system/generes/cms_refonte_1/001/662/873/3386424699_1x/1662873-meuble-buffet-bas-figari-4murs.jpg?1687942751" alt="Banner">
    <h1>Titre du site</h1>
</div>

{# Contenu #}
<div class="page-content container">
    <div class="listing-products">
        <h2>Produits disponibles</h2>
        {% for product in products %}
            {% if product.available %}
                <a href="{{ path('app_product_show', { 'id' : product.id }) }}">
                    <div class="content-product">
                        <figure>
                            <img src="{{ product.idMedia }}" alt="{{ product.name }}">
                        </figure>
                        <div class="infos">
                            <h3>{{ product.name }}</h3>
                            <span class="category">{{ product.idCategory.name }}</span>
                            <p class="price">{{ product.priceHT }}€</p>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
