<a href="{{ path('app_product_show', { 'id' : category.id }) }}" class="category-item">
    <div class="content-category">
        <figure>
            <img src="../uploads/{{ category.media }}" alt="{{ category.name }}">
        </figure>
        <div class="infos">
            <div class="infos-head">
                <h3>{{ category.name }}</h3>
                <p class="price">{{ product.priceHT }}€</p>
            </div>
            <span class="category">{{ product.idCategory.name }}</span>
            
            <div class="pointer-none">
                {{ include('product/_add_to_cart_form.html.twig') }}
            </div>
        </div>
    </div>
</a>