{# templates/_parts/header.html.twig #}

{# Style #}
<style>
	#navbar {
		background-color: #000;
		color: #fff;
		padding: 20px 0;
	}

	#navbar .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo a {
		color: #fff;
		text-decoration: none;
		font-size: 1.5rem;
		font-weight: bold;
	}

	.nav-links {
		list-style: none;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
	}

	.nav-links li a {
		color: #fff;
		text-decoration: none;
		transition: color 0.3s ease;
		padding: 8px;
		margin-left: 20px;
		display: block;
	}

	.nav-links li a:hover {
		color: #ffcc00;
	}

	@media only screen and (max-width: 991px) {
		.nav-links {
			display: none;
		}
	}
</style>

{# Content #}
<header>
	<nav id="navbar">
		<div class="container">
			<div class="logo">
				<a href="{{ path('app_home') }}">Eboutique</a>
			</div>
			<ul class="nav-links">
				<li>
					{# TODO : Mettre en place la page boutique #}
					<a href="{{ path('app_shop') }}">Boutique</a>
				</li>
				<li>
					{# TODO : Mettre en place le panier #}
					<a href="{{ path('app_home') }}">Panier</a>
				</li>
            	{% if app.user %}
					<li>
						<a href="{{ path('app_user_show', { 'id' : app.user.id }) }}">Mon compte</a>
					</li>
					<li>
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</li>
            	{% else %}
					<li>
						<a href="{{ path('app_login') }}">Connexion</a>
					</li>
            	{% endif %}
			</ul>
		</div>
	</nav>
</header>
