<div class="card-product">
	<div class="product-info">
		<img src="../uploads/{{  item.product.media }}" alt="{{ item.product.name }}" class="img-fluid">
		<div>
			<h2>{{ item.product.name }}</h2>
			<label for="quantity{{ item.id }}">Quantité :</label>
        	<input type="number" id="quantity{{ item.id }}" class="quantity-input" data-item-id="{{ item.product.id }}" data-item-price="{{ item.product.priceHT }}" value="{{ item.quantity }}" min="1">
		</div>
	</div>
	<div class="product-price">
		<p><strong>{{ item.product.priceHT }} € X <span id="item-quantity">{{ item.quantity }}</span></strong></p>
	</div>
</div>