{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <style>
        .head-product {
            display: flex;
            flex-wrap: wrap;
        }

        .head-product .col {
            flex: 1 1 350px; 
        }

        .head-product img {
            width: 100%;
            object-fit: contain;
            margin-right: 10px;
            max-height: 500px;
            object-fit: cover;
            border-radius: 10px
        }

        .head-product .infos {
            padding: 30px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.16);
            position: relative;
            height: fit-content;
            margin-left: 20px;
        }

        .head-product .infos p {
            margin: 5px 0
        }

        .head-product .infos h1 {
            margin: 5px 0 15px 0;
        }

        .head-product .infos .category {
            display: block;
            padding: 4px 5px;
            font-size: 0.8rem;
            background-color: #000;
            color: #fff;
            border-radius: 5px;
            width: fit-content;
            position: absolute;
            top: 35px;
            right: 35px;
        }

        .head-product .infos .price {
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .head-product .infos .price span {
            font-size: 1.1rem;
            font-weight: normal;
        }

        .head-product .infos .add-to-cart {
            border-radius: 100px;
            background-color: #e1ba0c;
            color: #fff;
            padding: 10px 15px;
            display: block;
            width: fit-content;
            margin-top: 20px;
            margin-left: -5px;
            cursor: pointer;
            transition: all .3s;
        }

        .head-product .infos .add-to-cart:hover {
            background-color: #d0aa00;
        }

        .description {
            margin: 50px 0;
        }

        .breadcrumb {
            display: flex;
            gap: 20px;
            list-style: none;
            padding: 0;
        }
    </style>
    <div class="page-content container">
        {% block breadcrumb %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="breadcrumb-item"><a href="{{ path(breadcrumb.route, breadcrumb.arguments) }}">{{ breadcrumb.title }}</a></li>
                    {% endfor %}
                </ol>
            </nav>
        {% endblock %}
        {# ADMIN #}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="admin-actions">
                <p>Actions administrateur : </p>
                <a href="{{ path('app_product_index') }}">Voir la liste des produits</a>
                <a href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>
            </div>
        {% endif %}

        {# PRODUIT #}
        <div class="head-product">
            <div class="col image">
                <img src="https://cocktail-scandinave.fr/wp-content/uploads/2023/04/NISNFATACA140-amb.jpg" alt="{{ product.name }}">
            </div>
            <div class="col infos">
                <h1>{{ product.name }}</h1>
                <span class="category">{{ product.idCategory.name }}</span>

                <p class="price">{{ product.priceHT }}€ <span>/ HT</span></p>

                <p>Code produit : {{ product.id }}</p>
                <p class="available">Disponibilité : {{ product.available ? 'En stock' : 'Sur commande' }}</p>

                <span class="add-to-cart"><i class="fa-solid fa-cart-plus"></i>&nbsp;Ajouter au panier</span>
            </div>
        </div>
        <div class="description">
            <h2>Description</h2>
            <p>{{ product.description }}</p>
        </div>
    </div>
{% endblock %}
