{% extends 'base.html.twig' %}

{% block title %}Liste des adresses client{% endblock %}

{% block body %}
    <div class="page-content container">
        <h1>Liste des adresses client</h1>

        <table class="table-list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Cp</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for customer_address in customer_addresses %}
                <tr>
                    <td>{{ customer_address.id }}</td>
                    <td>{{ customer_address.type }}</td>
                    <td>{{ customer_address.name }}</td>
                    <td>{{ customer_address.firstName }}</td>
                    <td>{{ customer_address.phone }}</td>
                    <td>{{ customer_address.address }}</td>
                    <td>{{ customer_address.cp }}</td>
                    <td>{{ customer_address.city }}</td>
                    <td>{{ customer_address.country }}</td>
                    <td>
                        <a href="{{ path('app_customer_address_show', {'id': customer_address.id}) }}">Voir</a>
                        <a href="{{ path('app_customer_address_edit', {'id': customer_address.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucune adresse trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_customer_address_new') }}">Créer une nouvelle adresse</a>
    </div>
{% endblock %}
