{% extends 'base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}
    <h1>Adresse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer_address.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ customer_address.type }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ customer_address.name }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ customer_address.firstName }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ customer_address.phone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ customer_address.address }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ customer_address.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ customer_address.city }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ customer_address.country }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_customer_address_edit', {'id': customer_address.id}) }}">Modifier</a>

    {{ include('customer_address/_delete_form.html.twig') }}
{% endblock %}
