{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <div class="page-content container">
        <h1>Commande</h1>

        <table class="table-list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Numéro de commande</th>
                    <th>Commande validée</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.orderNumber }}</td>
                    <td>{{ order.valid ? 'Oui' : 'Non' }}</td>
                    <td>{{ order.dateTime ? order.dateTime|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_order_show', {'id': order.id}) }}">Voir</a>
                        <a href="{{ path('app_order_edit', {'id': order.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune commande trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_order_new') }}">Créer une nouvelle commande</a>
    </div>
{% endblock %}
