{% extends 'base.html.twig' %}

{% block title %}Commande N°{{order.orderNumber}}{% endblock %}

{% block body %}
    <style>
        h1 {
            margin-bottom: 50px;
        }
        #order-content {
            margin-top: 50px;
        }
        .order-total {
            margin-top: 50px;
            text-align: right;
        }
    </style>

    <div class="page-content container">
        {# Breadcrumb #}
        {% block breadcrumb %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="breadcrumb-item"><a href="{{ path(breadcrumb.route, breadcrumb.arguments) }}">{{ breadcrumb.title }}</a><span>/</span></li>
                    {% endfor %}
                </ol>
            </nav>
        {% endblock %}

        <h1>Commande N°{{ order.id }}</h1>

        <p><strong>N° de la commande : </strong>{{ order.orderNumber }}</p>
        <p><strong>Statut de la commande : </strong>{{ order.valid ? 'Validée' : 'Panier' }}</p>
        <p><strong>Date de commande : </strong>{{ order.dateTime ? order.dateTime|date('Y-m-d H:i:s') : '' }}</p>

        <section id="order-content">
            <h2>Produits</h2>
            {% for item in orderDetails %}
                {% include('_parts/product-item-cart.html.twig') %}
            {% endfor %}

            <div class="order-total">
                <h2>Total : {{ order.totalPrice }} €</h2>
            </div>
        </section>
    </div>
{% endblock %}
